<form action="/location_data" method="post">
    <input type="button" value="Share Location" onclick="getLocation()">
    <input type="hidden" id="lat" name="lat">
    <input type="hidden" id="lon" name="lon">
</form>
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;
                document.getElementById("lat").value = lat;
                document.getElementById("lon").value = lon;
                document.forms[0].submit();
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
</script>